.App{
  background-image: linear-gradient(to right, #002f9e , #76009a);
  min-height: 100vh;
}

.frm{
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: #fff;
 padding: 20px 0;
 border-radius: 3px;
}
.frm input{
  width: 330px;
  height: 46px;
  margin-right: 30px;
  border-radius: 5px;
  padding:0 10px;
  border: 1px solid rgb(60, 0, 255);
}
.frm input:focus-visible{
  outline: 1px solid rgb(60, 0, 255);
}
.frm button{
  width: 180px;
  height: 46px;
  margin-right: 30px;
  border-radius: 3px;
  background-color: rgb(60, 0, 255);
  color: #fff;
  font-weight: 800;
  border: 0;
}
.frm button:hover{
  background-color: rgb(123 7 150);
  cursor: pointer;
}
.head h4{
  color: #fff;
  font-size: 36px;
  font-weight: 800;
}
select{
  background: #3c00ff;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  border: 0;
  margin-bottom: 8px;
  outline: 0;
}
.card-header{
  border-bottom: 0;
  height: 50px;
  background: #ffc107;
  line-height: 34px;
}